@use "../../styles/variables" as *;

.condition {
  display: flex;
  align-items: center;
  padding: 0 8px 8px 0;
  border-bottom: 1px solid $primaryColor;
  margin-bottom: 16px;

  &__name {
    font-size: $largeFontSize;
    font-weight: bold;
    margin-right: 16px;
  }
}

.status {
  margin-bottom: 16px;

  &__text {
    display: flex;
    align-items: center;
    column-gap: 4px;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.time {
  display: flex;
  overflow-x: auto;
  background-color: $primaryColor;
  border-radius: 4px;
  color: $whiteColor;

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;

    &-thumb {
      background-color: rgba($whiteColor, 0.7);
      border-radius: 2px;
    }
  }

  &__item {
    padding: 8px;
    border-right: 1px solid $whiteColor;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 4px;

    &:last-child {
      border-right: none;
    }
  }
}
